# Dependency directories
node_modules/

# Lock files
package-lock.json
yarn.lock
.package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build output
dist/
build/
